* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EBE1C9;
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
}

.input-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-block label {
  font-size: 14px;
  color: #781D1C;
  margin: 0 0 5px 10px;
  font-weight: 700;
}

.input-block input {
  height: 45px;
  border: 2px solid #d1c3a0;
  border-radius: 10px;
  padding: 0 16px;
  font-size: 16px;
  background-color: #f8eed4;
}

.input-block input::placeholder {
  color: #978659;
}

.input-block input:focus {
    border-color: #781D1C !important;
    outline: none;
}

.input-block p {
  color: #a82c2a;
  font-size: 12px;
  margin: 5px 0 0 10px;
}

.login-page, .registration-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  height: 100vh;
  overflow: hidden;
}

.form-login, .form-registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 300px;
  gap: 10px;
}

.forgot-password, .create-account {
  font-size: 14px;
  color: #781D1C;
}

.forgot-password, .create-account a {
  color: #781D1C;
  font-weight: 700;
  text-decoration: none;
}

.forgot-password {
  width: 100%;
  text-align: right;
}

.btn {
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 20px;
  font-weight: 500;
  background-color: #781D1C;
}

.btn-login, .btn-registration {
  width: 100%;
  height: 45px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  max-width: 600px;
  margin-left: 6px;
}

.gallery img {
  width: 190px;
  height: 230px; 
  object-fit: cover; 
  border-radius: 5px;
  display: block;
  -webkit-filter:  brightness(105%) contrast(102%) grayscale(50%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(140%) sepia(9%);
          filter:  brightness(105%) contrast(102%) grayscale(50%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(140%) sepia(9%);
  mix-blend-mode: none;
}

.gallery .middle {
  transform: translateY(-20px);
}

.login-side, .registration-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;
  height: 100%;
  margin: 0 20px;
  gap: 70px;
}

.registration-side {
  gap: 15px;
}

.login-header, .registration-header {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.registration-header {
  gap: 10px;
}

.login-header h1, .registration-header h1 {
  font-weight: 500;
}

.profile-container {
  position: relative;
  display: inline-block;
  width: 80px; 
  height: 80px; 
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.pfp {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.upload-button {
  position: absolute;
  bottom: -5px;
  left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 5px;
}

.upload-button svg {
  width: 100%;
  height: 100%;
}

.input-block:has(input[type="file"]) {
  display: none;
}

.profile-picture {
  height: 50px;
  width: 50px;
}

.account {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
}

.menu {
  width: 20%;
  height: 100vh;
  border-right: 1px solid #DADADA;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.menu-btn {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}

.menu-icon {
  width: 50px;
}

.account-name {
  font-weight: 800;
  color: black;
}

.account-username {
  font-weight: 500;
}

.menu-btn span {
  font-weight: 600;
  font-size: 18px;
}

.account-username, .menu-btn span {
  color: #757575;

}

.main {
  display: flex;
  max-height: 100vh;
}

.new-post {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

.new-post-btn {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.feed {
  width: 60%;
  padding: 0 20px;
}

.post-user-info {
  display: flex;
  gap: 5px;
}

.post-user {
  align-items: start;
}

.teste {
  width: 100%;
  overflow-wrap: anywhere;
}

.profile-page {
  position: relative;
  display: flex;
  width: 100%; 
  height: 375px; 
  margin-top: 20px;
}

.profile-picture-page, .profile-picture-edit {
  width: 250px;
  height: 250px;
  position: absolute;
  top: calc(100% - 250px);
}

.profile-picture-page {
  outline: 4px solid #EBE1C9;
}

.profile-page-container {
  height: 100%;
  width: 250px;
  z-index: 1;
}

.rectangle {
  width: 250px;
  height: calc(100% - 125px);
  border-top-left-radius: 40px;
  /* border-top-right-radius: 40px; */
  overflow: hidden;
  background-color: #781D1C;
  outline: 4px solid #EBE1C9;
}

.profile-username, .profile-name {
  color: #EBE1C9;
  text-align: center;
}

.profile-name {
  font-weight: 700;
}

.profile-username {
  font-weight: 500;
  font-size: 20px;
}

.profile-info {
  height: calc(100% - 125px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover-photo-container {
  width: 100%;
  height: 100%;
  margin-left: -125px;
  position: relative;
}

.cover-photo-edit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.bio {
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.btn-profile {
  width: 100px;
  height: 45px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgb(0, 0, 0);
}

.update-name-username {
  display: flex;
  gap: 10px;
}

.update-profile-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-picture-edit {
  background-color: #757575;
  opacity: 0.7;
}

.profile-picture-camera, .profile-picture-edit {
  z-index: 2;
}

.profile-picture-overlay {
  background-color: rgba(124, 124, 124, 0.5);
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.camera-icon {
  transition: opacity 0.3s ease-in-out;
  width: 40px;
  height: auto;
}

.cover-photo-overlay {
  position: absolute;
  background-color: rgba(124, 124, 124, 0.5);
  width: 100%;
  right: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-update-profile {
  width: 20%;
  height: 45px;
}

.no-decor-btn {
  text-decoration: none;
}